.dailyForecastBlock {
  background-color: hsl(243, 23%, 30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
}
.horizontalCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.dailyForecastBlock img {
  width: 3rem;
}


@media(max-width:720px)
{
  .dailyForecastBlock{
    width: 100%;
  }
  .horizontalCont{
    padding: 0 2rem;
  }
}

