.hourlyForecastBlock {
  background-color: hsl(243, 23%, 30%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
  padding: 0.2rem;
  border-radius: 0.4rem;
  gap: 0.5rem;
}
.hourlyForecastBlock>div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hourlyForecastBlock img {
  width: 2rem;
}
