*{
    margin: 0;
    padding: 0;
    font-family: "DM Sans";
    color: white;
    box-sizing: border-box;
}
.App{
    background-color:hsl(243, 96%, 9%) ;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 10rem 0;
}

.mainPart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.weatherInfo{
    grid-row: 1/3;
    grid-column: 1/3;
}
.dailyForecast{
    grid-row: 3/4;
    grid-column: 1/3;
}
.hourlyForecast{
    grid-row: 1/4;
    grid-column: 3/4;
    margin:0 1rem;
}

@media(max-width:720px)
{
    .App{
        width: 100%;
        padding: 2rem 1rem;
    }
    .mainPart{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
    }
    .hourlyForecast{
        margin: 0;
    }
}
