.weatherPanel{
    background-image:url("../../Assets/images/bg-today-large.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 1rem;
    box-sizing: border-box;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.horizontalCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.horizontalCont>p{
    font-size: 4rem;
}
.location{
    font-size: 1.5em;
    font-weight: 600;
}
.horizontalCont>img{
    width: 4rem;
}

@media(max-width:720px)
{
    .weatherPanel{
        padding: 2rem 0;
        flex-direction: column;
    }
    .horizontalCont{
        width: 80%;
    }
    .horizontalCont img{
        width: 6rem;
    }

}
