.dailyForecast{
    display: flex;
    flex-direction: row;
    gap:1rem;
}

@media(max-width:720px)
{
    .dailyForecast{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap:1rem;
    }
}